<h1>Home</h1>
<p>Name: <%= @user.username %></p>
<p>Funds: <%= @user.funds %> </p>
<p>Monthly Limit: <%= @user.monthly_limit %> </p>
<p>Monthly Income: <%= @user.monthly_income %> </p>
<p>Pay Day: <%= @user.pay_day %>. </p>
<p><a href="/users/<%= @user.id() %>/edit">Edit User Details</a></p>
<p><a href="/users/<%= @user.id() %>/transactions">Show Transactions</a></p>
<p><a href="/users/<%= @user.id() %>/transactions/new">Add New Transaction</a></p>
<p><a href="/users/<%= @user.id() %>/add_funds">Add Funds</a></p>
<p>Total spent: <%= @user.total() %></p>

<form action= "/users/<%= @user.id() %>/delete" method= "post">
  <label>
    <p><input type="submit" value="delete"></p>
  </label>
</form>


