
<aside class="aside">
  <h1>Cash Control</h1>
</aside>


<section id="main">

<h1>Edit User</h1>

<form action= "/users/<%= @user.id %>" method= "post">
  <label>
    <p>Username: <input type="text" name="username" value = "<%= @user.username%>"></p>
  </label>  
  <label>
    <p>Funds: <input type="number" name="funds" value = "<%= @user.funds %>"></p>
  </label>  
  <label>
    <p>Monthly Limit: <input type="number" name="monthly_limit" value = "<%= @user.monthly_limit %>"></p>
  </label>  
  <label>
    <p>Monthly Income: <input type="number" name="monthly_income" value = "<%= @user.monthly_income %>"></p>
  </label>  
  <label>
    <p>Pay Day: <input type="number" name="pay_day" value = "<%= @user.pay_day %>"></p>
  </label>  
  <label>
    <p><input type="submit" value="SUBMIT"></p>
  </label>
</form>
</section>