<p>Name: <%= @user.username %></p>
<p>Funds: <%= @user.funds %> </p>
<p><a href="/users/<%= @user.id() %>/edit">Edit User Details</a></p>
<p><a href="/users/<%= @user.id() %>/transactions">Show Transactions</a></p>
<p><a href="/users/<%= @user.id() %>/transactions/new">Add New Transaction</a></p>
<form action= "/users/<%= @user.id() %>/delete" method= "post">
<label>
  <p><input type="submit" value="delete"></p>
</label>
</form>
