<aside class="aside">
  <h1>Cash Control</h1>
  <p><a href="/users/<%= @user.id() %>">Home</a></p>
  <p><a href="/users/<%= @user.id() %>/transactions">See Transactions</a></p>
  <p><a href="/users/<%= @user.id %>/merchants/new">Add New Merchant</a></p>
  <p><a href="/users/<%= @user.id %>/tags/new">Add New Tag</a></p>
  <p><a href="/users">Change User</a></p>
</aside>

<section id="main">

<h1>Add New Standing Order</h1>
<form action= "/users/<%= @user.id %>/transactions/new_standing_order" method="post">



  <label>
    <p>
      Merchant: <select name="merchant_id">
      <%for merchant in @merchants%>
        <option value= <%= merchant.id %>> <%=merchant.name %> </option>
      <%end%>
      </select>  
    </p>
  </label>

  <label>
    <p>Amount: <input type="number" step='0.01' name="amount"></p>
  </label>

  <label>
    <p>Start Date: <input type="text" name="first_payment" value= <%= Time.new.to_s.split(" ").first %> ></p>
  </label>



 <label>
    <p>
    Tag: <select name="tag_id">
    <%for tag in @tags%>
      <option value= <%= tag.id %>> <%=tag.label %> </option>
    <%end%>  
    </select>  
    </p>
</label>

  <label>
    <p>Note: <input type="text" name="note" ></p>
  </label>
  
  <input type = "submit" value = "Submit"/>

</form>
</section>