
<aside class="aside">
  <h1>Cash Control</h1>
  <p><a href="/users/<%= @user.id() %>">Home</a></p>
  <p><a href="/users/<%= @user.id() %>/transactions/new">Add New Transaction</a></p>
  <p><a href="/users/<%= @user.id() %>/transactions/new_standing_order">Add New Standing Order</a></p>
  <p><a href="/users/<%= @user.id() %>/add_funds">Add Funds</a></p>
  <p><a href="/users">Change User</a></p>
  <p>Funds: £<%= "%.2f" % @user.funds %></p>
</aside>


<section id="main">
<h1>Transactions</h1>
<hr>
<h2>Total Money Spent: £<%= "%.2f" % @total %></h2>
<%if Calc.amount_spent_this_month(@user) > @user.monthly_limit%> 
<h3>WARNING: You've spent <%= Calc.percentage_of_limit_spent(@user) %>% of your monthly limit!</h3>
<%else%>
<h3>You've spent <%= Calc.percentage_of_limit_spent(@user) %>% of your monthly limit!</h3>
<%end%>
<hr>

<h4><%=@text1%></h4>
<h4><%=@text2%></h4>

<table>
<tr>
  <th>Search by Month</th>
  <th>Sort</th>
  <th>Search by Tag</th>

</tr>

<tr>
<td>
<!-- <h2>Search by Month</h2> -->
<form action= "/users/<%= @user_id %>/transactions" method= "get">
  <label>
    <p>
      Month: <select name="month">
      <option value= ""> select </option>
      <%for year in @month_groups.keys%>
        <%for month in @month_groups[year].keys%>
          <option value= <%= month %>> <%= month %> </option>
        <%end%>  
      <%end%>  
    </select>
  </p>
</label>

<label>
  <p>
    Year: <select name="year">
    <option value= ""> select </option>
    <%for year in @month_groups.keys%>
      <option value= <%= year %>> <%= year %> </option>
    <%end%>  
  </select>
</p>
</label>
</td>



<td>
<!-- <h2>Sort</h2> -->
  <label>
    <p>
      Sort by: <select name="sort_by">
          <option value= ""> select </option>
          <option value= "date"> Date </option>
          <option value= "amount_asc"> Amount (ascending) </option>
          <option value= "amount_desc"> Amount (descending) </option>

    </select>
  </p>
</label>
</td>

<td>
<!-- <h2>Search by Tag</h2> -->
<label>
   <p>
     Tag: <select name="tag_id">
     <option value = "">select</option>
     <%for tag in @tags%>
     <option value= <%= tag.id %>> <%=tag.label %> </option>
     <%end%>  
   </select>  
   </p>
 </label>
</td>

<td>
<label>
  <p><input type="submit" value="APPLY"></p>
</label>

</form>
</td>

</tr>
</table>





<hr>
<% for transaction in @transactions %> 
<nav>
    <table>
        <tr>
            <td><a href="/users/<%= @user.id() %>/transactions/<%=transaction.id%>"><%= transaction.merchant.name() %> £<%= "%.2f" % transaction.amount() %> </a></td>
            <td><%= transaction.tag.label %></td> 
        </tr>

        <tr>
            <td colspan="2"><%= transaction.time() %></td>
        </tr>
        
        <tr>
            <td colspan="2"><%= transaction.note %></td>
        </tr>
        <tr>
            <td><a href="/users/<%= @user.id() %>/transactions/<%= transaction.id %>/edit">Edit</a></td>
        </tr>
    </table>
</nav>

<hr>

<% end %>
</section>


<section id = "charts">
<img src=<%= MoneyChart.spending_per_day_bar_chart(@user) %>>
<img src= <%= MoneyChart.pie_chart(@transactions) %>>
 </section>