
<hr>
<p><a href="/users/<%= @user.id() %>/transactions/new">Add New Transaction</a></p>
<hr>
<h2>Total Money Spent: <%= @total %></h2>
<%if Calc.amount_spent_this_month(@user) > @user.monthly_limit%> 
<h3>Warning! You have spent <%= Calc.percentage_of_limit_spent(@user) %>% of your monthly limit!</h3>
<%else%>
<h3>You have spent <%= Calc.percentage_of_limit_spent(@user) %>% of your monthly limit!</h3>
<%end%>
<hr>

<h2>Search by Month</h2>
<form action= "/users/<%= @user_id %>/transactions/by_month" method= "get">
  <label>
    <p>
      Month: <select name="month">
      <%for year in @month_groups.keys%>
        <%for month in @month_groups[year].keys%>
          <option value= <%= month %>> <%= month %> </option>
        <%end%>  
      <%end%>  
    </select>
  </p>
</label>

<label>
  <p>
    Year: <select name="year">
    <%for year in @month_groups.keys%>
      <option value= <%= year %>> <%= year %> </option>
    <%end%>  
  </select>
</p>
</label>

<label>
  <p><input type="submit" value="search"></p>
</label>

</form>











<h2>Sort</h2>
<form action= "/users/<%= @user_id %>/transactions" method= "get">
  <label>
    <p>
      Sort by: <select name="sort_by">

          <option value= "date"> Date </option>
          <option value= "amount_asc"> Amount (ascending) </option>
          <option value= "amount_desc"> Amount (descending) </option>

    </select>
  </p>
</label>

<label>
  <p><input type="submit" value="sort"></p>
</label>

</form>









<hr>
<% for transaction in @transactions %> 

<a href="/users/<%= @user.id() %>/transactions/<%=transaction.id%>"><%= transaction.merchant.name() %> £<%= transaction.amount() %> </a> 
<p>Date: <%= transaction.time() %> </p>
<p>Tag: <%= transaction.tag.label %> </p>
<p><a href="/users/<%= @user.id() %>/transactions/<%= transaction.id %>/edit">Edit</a></p>

<form action= "/users/<%= @user.id %>/transactions/<%= transaction.id %>/delete" method= "post">
  <label>
    <p><input type="submit" value="DELETE"></p>
  </label>
</form>

<hr>

<% end %>

<img src= <%= MoneyChart.pie_chart(@transactions) %>>