
<hr>
<p><a href="/users/<%= @user.id() %>/transactions/new">Add New Transaction</a></p>
<hr>
<p>Total Money Spent: <%= @total %></p>
<hr>
<hr>
<% for transaction in @transactions %> 

<p>Merchant: <%= transaction.merchant.name() %></p>
<p>Amount: <%= transaction.amount() %> </p>
<p>Date: <%= transaction.time() %> </p>
<p>Tag: <%= transaction.tag.label %> </p>
<p><a href="/users/<%= @user.id() %>/transactions/<%= transaction.id %>/edit">Edit</a></p>

<form action= "/users/<%= @user.id %>/transactions/<%= transaction.id %>/delete" method= "post">
<label>
  <p><input type="submit" value="DELETE"></p>
</label>
</form>

<hr>

<% end %>

<img src= <%= MoneyChart.pie_chart(@transactions) %>>