<h1>Add New Transaction</h1>
<form action= "/users/<%= @user.id %>/transactions" method="post">


<p><a href="/users/<%= @user.id %>/merchants/new">Add New Merchant</a></p>
<p><a href="/users/<%= @user.id %>/tags/new">Add New Tag</a></p>

  <label>
    <p>
      Merchant: <select name="merchant_id">
      <%for merchant in @merchants%>
        <option value= <%= merchant.id %>> <%=merchant.name %> </option>
      <%end%>
      </select>  
    </p>
  </label>

  <label>
    <p>Amount: <input type="number" name="amount"></p>
  </label>

  <label>
    <p>Date: <input type="text" name="time" value= <%= Time.new.to_s.split(" ").first %> ></p>
  </label>

 <label>
    <p>
    Tag: <select name="tag_id">
    <%for tag in @tags%>
      <option value= <%= tag.id %>> <%=tag.label %> </option>
    <%end%>  
    </select>  
    </p>
  </label>

  <input type = "submit" value = "Submit"/>

</form>

